.search-input {
  min-width: 90%;
  border-radius: 16px;
  background: rgba(122, 133, 129, 0.08);
  border: 3px solid #25ffb1;
  height: 54px;
  min-width: 780px;

  input {
    width: 100%;
    border-radius: 0px;
    background: rgba(147, 196, 178, 0.08);
    box-sizing: border-box;
    color: #25ffb1;
    &::placeholder {
      color: rgba(147, 255, 216, 0.5);
    }
    border-radius: 6px 0 0 6px;
    font-size: 20px;
  }

  button {
    border-radius: 0 6px 6px 0;
    background: rgba(147, 196, 178, 0.08);
  }
}

@media (max-width: 768px) {
  .search-input {
    input {
    }
  }
}
