.referral-state0 {
  visibility: hidden;
}
.referral-state1 {
  color: #1eefa4;
  border-color: #1eefa4;
}
.referral-state2 {
  color: #f6f6f6;
  border-color: #f6f6f6;
}
.referral-state3 {
  color: #e3e24d;
  border-color: #e3e24d;
}
.referral-state4 {
  color: #ecefab;
  border-color: #ecefab;
}
.referral-statep {
  color: #0843b5;
  border-color: #0843b5;
}
