@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/fonts/font.css';

body {
  margin: 0;
  padding: 0;
  font-family: Urbanist;
}

.account-profile-bg {
  background: linear-gradient(
    180deg,
    #1b7679 -5.51%,
    #0f2a42 62.63%,
    #020d17 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: none !important;
  -webkit-box-shadow: 0 0 0 30px #14505d inset !important;
}
