.swiper {
  width: 320px;
  overflow: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: fit-content;
  height: fit-content;
}
.swiper-slide[data-invisible='true'] {
  @apply opacity-0;
}

.swiper-slide img {
  display: block;
  width: 320px;
  height: 320px;
  filter: drop-shadow(0px 0px 55px rgba(80, 255, 192, 0.6));
}

@media (max-width: 767px) {
  .swiper {
    width: 240px;
  }

  .swiper-slide img {
    width: 240px;
    height: 240px;
  }
}
